@import './variables.module.scss';

.wrapper {
  section {
    @include section;
    &:first-of-type {
      padding-top: 1.5rem;
      background-color: #93bcf880;
    }
    &.events {
      .eventCol {
        background-color: $light;
        padding: 20px;
        border-radius: 8px;
        min-height: 450px;
        box-shadow: gray 1px 1px 3px 0;
        transition: box-shadow linear 150ms;

        &:hover {
          box-shadow: gray 2px 2px 5px 1px;
        }

        img {
          border-radius: 8px;
          margin-bottom: 15px
        }
      }
    }
  }
}