@import './variables.module.scss';
.container {
  position: relative;
  overflow: hidden;
}
.container section {
  @include section;
  position: relative;
  min-height: 80vh;
}
.section-title {
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
  padding-left: 28px;
  margin-left: -2rem;
  margin-bottom: 1rem;
  .num {
    color: $secondary;
    display: inline-block;
    margin-right: 10px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 4px;
    transform: translateY(-50%);
    width: calc(20px + 2rem);
    left: -2rem;
    background-color: $dark;
  }
}
#section1 {
  @include section;
  position: relative;
}
#section2, #section3, #section4 {
  @include section;
  .section-content {
    font-size: 1.825rem;
  }
}
#section1::after {
  background-color: $light;
  height: 100%;
  content: '';
  position: absolute;
  left: -2rem;
  right: -2rem;
  top: 0;
  z-index: -1;
}

@media (max-width: 600px) {
  .section-title {
    margin-left: -0.5rem;
  }
  #section2, #section3, #section4 {
    .section-content {
      font-size: 1.4rem;
    }
  }
}
